body {
    background-color: #fbfbfb;
    width: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.2em;
    color: #777777;
}

input,
textarea,
button {
    display: block;
}

.container {
    background-color: #0973ba;
    color: white;
    box-sizing: border-box;
    padding: 5%;
    margin: 5%;
}

form::after {
    display: block;
    content: "";
    clear: both;
}

input:focus {
    outline: none;
    border: 2px solid #f7941d;
}

input,
textarea {
    width: 90%;
    margin: 0.5em;
    padding: 0.5em 0.2em;
    box-sizing: border-box;
}

textarea {
    border: 2px solid #ffffff;
}

input:hover,
textarea:hover {
    border: 2px solid #f7941d;
}

i {
    margin-left: 0.5em;
}

#submitBtn {
    padding: 0.6em 1em;
    background-color: #f7941d;
    color: #ffffff;
    cursor: pointer;
    border: none;
    position: relative;
    float: right;
    margin-right: 9%;
    box-sizing: border-box;
}
