body {
    background-color: #fbfbfb;
    width: 100%;
}

section {
    width: 90%;
    margin: 2em auto;
}

figure {
    margin-bottom: 1em;
}

img {
    width: 100%;
}

.hover {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
